body {
	background: #868686;
	background: -moz-linear-gradient(top, #868686 0%, #EFEFEF 100%);
	background: -webkit-linear-gradient(top, #868686 0%, #EFEFEF 100%);
	background: linear-gradient(to bottom, #868686 0%, #EFEFEF 100%);
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-size: 18px;
	letter-spacing: 0.6px;
	word-spacing: 0px;
	color: #000000;
	font-weight: normal;
	text-decoration: none;
	font-style: normal;
	font-variant: normal;
	text-transform: none;
}
.logo-image{
    width: 36px;
    height: 36px;
    border-radius: 50%;
	overflow: hidden;
	margin-top: -12px
}
.topnav {
	background-color: transparent;
	border-bottom-color: #000;
	overflow: hidden;
}

.topnav a {
	float: left;
	color: #fff;
	text-align: center;
	position: relative;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
}

.topnav a:hover {
	background-color: #000;
	color: #fff;
	transition: 1s
}

.topnav a.active {
	background-color: #ffffff;
	color: #000;
}

.container {
	position: relative;
	min-height: 88vh;
	border-top: 12px  
}

.text-position {
	padding-left: 2rem
}

ul {
	list-style: square outside url("sqpurple.gif");
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-size: 14px;
}

.content-wrap {
	padding-bottom: 6rem
}

.footer {
 	border-top: 12px outset #000000;
 	border-bottom: 12px outset #2388CB;
	position: absolute;
  	bottom: 0;
	width: 100%;
	height: 4rem;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-size: 12px;
	letter-spacing: 0.6px;
	word-spacing: 0px;
	color: #000000;
	font-weight: normal;
	text-decoration: none;
	font-style: normal;
	font-variant: normal;
	text-transform: none;
	text-align: right;
}

.footer a:hover {
	background-color: #B2B2B2;
	color: #000;
}
